{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/48/000000/twitter.png">
    <title>Home</title>
    {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/style1.css' %}" />
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>

        function togglePopupProfile() {
            document.getElementById("popup-2").classList.toggle("active");
        }
        function togglePopup() {
            document.getElementById("popup-1").classList.toggle("active");
        }
        
        document.addEventListener("DOMContentLoaded", function () {
            var likeButtons = document.querySelectorAll('.like-button');

            likeButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var tweetId = this.getAttribute('data-tweet-id');

                    fetch('/api/increment-like/' + tweetId + '/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({})
                    })
                        .then(response => response.json())
                        .then(data => {
                            // Update the like count in the UI
                            var statisticsElement = this.nextElementSibling;
                            statisticsElement.innerHTML = data.likes_count;
                        })
                        .catch(error => console.error('Error:', error));
                });
            });
        });


        function followRequest(profileID) {

            fetch('/api/follow/' + profileID + '/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({})
            })
                .then(response => response.json())
                .then(data => {
                    var button = document.getElementById('followButton');
                    if (data.is_following) {
                        button.innerText = 'Unfollow';
                    } else {
                        button.innerText = 'Follow';
                    }
                    document.getElementById('followers-count').innerText = data.followers
                    document.getElementById('following-count').innerHTML = data.following
                })
                .catch(error => console.error('Error:', error));
        };

        document.addEventListener('DOMContentLoaded', function () {
            var joinedDateElement = document.getElementById('joined-date');
            var joinedDate = joinedDateElement.textContent; 
    
            var parsedDate = new Date(joinedDate);
    
            var formattedDate = new Intl.DateTimeFormat().format(parsedDate);
    
            joinedDateElement.textContent = formattedDate;
        });
        

    </script>
</head>


<body>

    <!-- HEADER -->
    {% block header %}
    <header>
        <div class="header-container">
            <a href="#">
                <h1 class="twitter-logo"><img src="{% static 'images/twitter.svg' %}" alt="twitter logo" /></h1>
            </a>
            <nav>
                <div class="nav-item">
                    <a href="" class="nav-links">
                        <a href="{% url 'accounts:home' %}" class="nav-links">
                            <div class="nav-hover">
                                <div class="nav-icons"><img src="{% static 'images/home.svg' %}" alt="home icon" />
                                </div>
                                <div class="home-link nav-text">Home</div>
                            </div>
                        </a>
                </div>

                <div class="nav-item">
                    <a href="#" class="nav-links">
                        <div class="nav-hover">
                            <div class="nav-icons">
                                <img class="explore-hashtag" src="{% static 'images/hashtag.svg' %}"
                                    alt="explore icon" />
                                <img src="{% static 'images/search2.svg' %}" alt="explore icon"
                                    class="explore-search" />
                            </div>
                            <div class="nav-text">Explore</div>
                        </div>
                    </a>
                </div>

                <div class="nav-item">
                    <a href="#" class="nav-links">
                        <div class="nav-hover">
                            <div class="nav-icons">
                                <img src="{% static 'images/notifications.svg' %}" alt="notifications icon" />
                            </div>
                            <div class="nav-text">Notifications</div>
                        </div>
                    </a>
                </div>

                <div class="nav-item">
                    <a href="#" class="nav-links">
                        <div class="nav-hover">
                            <div class="nav-icons">
                                <img src="{% static 'images/messages.svg' %}" alt="messages icon" />
                            </div>
                            <div class="nav-text">Messages</div>
                        </div>
                    </a>
                </div>

                <div class="nav-item bookmarks">
                    <a href="#" class="nav-links">
                        <div class="nav-hover">
                            <div class="nav-icons">
                                <img src="{% static 'images/bookmarks.svg' %}" alt="bookmarks icon" />
                            </div>
                            <div class="nav-text">Bookmarks</div>
                        </div>
                    </a>
                </div>

                <div class="nav-item profile">
                    <a href="{% url 'accounts:profile' %}" class="nav-links">
                        <div class="nav-hover">
                            <div class="nav-icons">
                                <img src="{% static 'images/profile.svg' %}" alt="profile icon" />
                            </div>
                            <div class="nav-text">Profile</div>
                        </div>
                    </a>
                </div>

                <div class="nav-item more">
                    <a href="#" class="nav-links">
                        <div class="nav-hover">
                            <div class="nav-icons">
                                <img src="{% static 'images/more-circle.svg' %}" alt="more icon" />
                            </div>
                            <div class="nav-text">More</div>
                        </div>
                    </a>
                </div>

                <div class="nav-item more">
                    <a href="{% url 'accounts:logout' %}" class="nav-links">
                        <div class="nav-hover">
                            <div class="nav-icons">
                                <img src="{% static 'images/logout.png' %}" alt="more icon" />
                            </div>
                            <div class="logout">Logout</div>
                        </div>
                    </a>
                </div>

            </nav>

            <a href="#">
                <div class="button-container">
                    <button class="tweet-button tweet-button-1" onclick="togglePopup()">Tweet</button>
                    <button class="tweet-button tweet-button-2" onclick="togglePopup()"></button>
                </div>
            </a>

            {% block header-profile %}
            <div class="account">
                <a href="{% url 'accounts:profile' %}">
                    <div class="account-hover">
                        <div class="shiva-profile">
                            <img src="{{ logged_user.profileImage }}" alt="shiva's profile" />
                        </div>
                        <div class="shiva-name">
                            <p class="account-name">{{ logged_user.display_name }}</p>
                            <p class="username">@{{ logged_user.display_name }}</p>
                        </div>
                    </div>
                </a>
            </div>

            {% endblock header-profile %}

        </div>

    </header>
    {% endblock %}
    {% block popup %}
    <pop-up>
        <div class="popup" id="popup-1">
            <div class="overlay"> </div>
            <div class="content">
                <div class="close-btn" onclick="togglePopup()">&times;</div>
                <div class="form-container">
                    <form class="form" action="{% url 'accounts:create-tweet' %}" method="post"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="textarea">Caption</label>
                            <textarea name="content" id="content" rows="10" cols="30"> </textarea>
                        </div>
                        <div class="form-group">
                            <label for="image">Upload Image</label>
                            <input type="file" id="media" name="media" accept="image/*">
                        </div>

                        <button class="form-submit-btn" type="submit">Tweet</button>
                    </form>
                </div>
            </div>
        </div>
    </pop-up>
    <pop-up>
        <div class="popup" id="popup-2">
            <div class="overlay"> </div>
            <div class="content">
                <div class="close-btn" onclick="togglePopupProfile()">&times;</div>
                <div class="form-container">

                    <form class="form" action="{% url 'accounts:edit-profile' %}" method="post"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_coverImage">Cover Image:</label>
                            <input type="file" name="coverImage" id="id_coverImage" accept="image/*"
                                value="{{ logged_user.coverImage }}">
                        </div>
                        <div class="form-group">
                            <label for="id_profileImage">Profile Image:</label>
                            <input type="file" name="profileImage" id="id_profileImage" accept="image/*"
                                value="{{ logged_user.profileImage }}">
                        </div>
                        <div class="form-group">
                            <label for="id_bio">Bio:</label>
                            <textarea name="bio" id="id_bio">{{ logged_user.bio }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="id_display_name">Display Name:</label>
                            <input type="text" name="display_name" id="id_display_name"
                                value="{{ logged_user.display_name }}">
                        </div>
                        <div class="form-group">
                            <label for="id_website">Website:</label>
                            <input type="url" name="website" id="id_website" value="{{ logged_user.website }}">
                        </div>

                        <button class="form-submit-btn" type="submit">save</button>
                    </form>

                </div>
            </div>
        </div>
    </pop-up>
    {% endblock %}
    <!-- MAIN -->
    {% block main %}
    <main>
        <!-- MAIN -->
        <div class="main-section">

            {% block main-header %}
            <div class="main-section-header">
                <div class="home-header">
                    <div class="shiva-profile">
                        <img src="{% static 'images/shiva.png' %}" alt="shiva's profile" />
                    </div>
                    <h2 class="main-section-title">Home</h2>
                </div>
                <div class="top-tweets-icon">
                    <img src="{% static 'images/stars.svg' %}" alt="top tweets icon" />
                </div>
            </div>
            {% endblock%}

            <!-- TWEETS SECTION -->
            <div class="tweets-section">
                <!-- USERS TWEET -->
                {% block main-user-tweet %}
                <div class="user-tweet">
                    <div class="tweet-input-section">
                        <div class="shiva-profile img-2">
                            <img src="{{ logged_user.profileImage }}" alt="shiva's profile" />
                        </div>
                        <div class="tweet-input">
                            <input type="text" class="tweet-input-button" placeholder="whats's happening">
                        </div>

                    </div>
                    <div class="edit-tools">
                        <div class="tools-wrapper">
                            <div class="tools">
                                <label for="fileInput"><img src="{%static 'images/media.svg' %}"
                                        alt="media icon" /></label>
                            </div>
                            <div class="tools">
                                <img src="{%static 'images/gif.svg' %}" alt="gif icon" />
                            </div>

                            <div class="tools">
                                <img src="{%static 'images/emoji.svg' %}" alt="emoji icon" />
                            </div>
                        </div>
                        <div>
                            <button class="post-tweet">Tweet</button>
                        </div>
                    </div>
                </div>
                {% endblock %}

                {% block tweets %}

                {% for tweet in tweets %}
                <div class="other-tweets-container">
                    <div class="other-tweets">
                        <div class="tweeter">
                            <div class="tweeter-profile">
                                <img src="{{ tweet.user_profile.profileImage }}" alt="profie picture" />
                                <div class="tweeter-name">
                                    <a href="{% url 'accounts:profile-detail' profile_id=tweet.user_profile.id %}">
                                        <p>
                                            <span class="tweeter-account">{{ tweet.user_profile.display_name }}
                                            </span>
                                            <span class="freecodecamp-badge"><img
                                                    src="{% static 'images/verified.svg' %}"
                                                    alt="verification-badge" /></span>
                                            <span class="tweeter-username">@{{ tweet.user_profile.display_name }}
                                            </span>
                                            <span>{{ tweet.updated_at.datetime }}</span>
                                        </p>
                                    </a>
                                </div>
                            </div>

                            <div class="tweet">
                                <div class="tweet-details">
                                    <div>
                                        <div class="tweet-text">
                                            <p class="tweet-text">
                                                {{ tweet.content }} </p>
                                        </div>
                                        {% if tweet.media %}
                                        <div class="tweet-image">
                                            <img src="{{ tweet.media }}"
                                                alt="{{ tweet.user_profile.display_name.username }}" />
                                            <div class="tweet-image-caption">
                                                <p>@{{ tweet.user_profile.display_name }}</p>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="tweet-reactions-2">
                                            <div class="replies">
                                                <div class="tweet-replies" style="cursor: pointer;">
                                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        aria-hidden="true"
                                                        class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi"
                                                        width="20" height="20">
                                                        <g fill="currentColor">
                                                            <path
                                                                d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.044.286.12.403.142.225.384.347.632.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.367-3.43-7.787-7.8-7.788zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.335-.75-.75-.75h-.396c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z">
                                                            </path>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="statistics">
                                                    {{ tweet.comments|length }}
                                                </div>
                                            </div>

                                            <div class="retweets">
                                                <div>
                                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        aria-hidden="true"
                                                        class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi"
                                                        width="20" height="20">
                                                        <g fill="currentColor">
                                                            <path
                                                                d="M23.77 15.67c-.292-.293-.767-.293-1.06 0l-2.22 2.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414 0-.75.336-.75.75s.336.75.75.75h5.85c1.24 0 2.25 1.01 2.25 2.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06 0s-.294.768 0 1.06l3.5 3.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767 0-1.06zm-10.66 3.28H7.26c-1.24 0-2.25-1.01-2.25-2.25V6.46l2.22 2.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768 0-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06 0l-3.5 3.5c-.294.292-.294.767 0 1.06s.767.293 1.06 0l2.22-2.22V16.7c0 2.068 1.683 3.75 3.75 3.75h5.85c.414 0 .75-.336.75-.75s-.337-.75-.75-.75z">
                                                            </path>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="statistics">
                                                    1,450
                                                </div>
                                            </div>
                                            <div class="likes">
                                                <div class="like-button" data-tweet-id="{{ tweet.uuid }}"
                                                    style="cursor: pointer;">
                                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        aria-hidden="true"
                                                        class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi"
                                                        width="20" height="20">
                                                        <g fill="currentColor">
                                                            <path
                                                                d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z">
                                                            </path>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="statistics">
                                                    {{ tweet.likes|length }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-tweet">
                                            <form id="commentForm" action="{% url 'accounts:add-comment' tweet_uuid=tweet.uuid %}" method="post">
                                                {% csrf_token %}
                                                <div class="tweet-input-section">
                                                    <div class="shiva-profile img-2">
                                                        <img src="{{ logged_user.profileImage }}"
                                                            alt="shiva's profile" />
                                                    </div>
                                                    <div class="tweet-input">
                                                        <input type="text" class="tweet-input-button"
                                                            placeholder="whats's happening" name="comment_content">
                                                    </div>
                                                </div>
                                                <div class="edit-tools">
                                                    <div class="tools-wrapper">
                                                        <div class="tools">
                                                            <label for="image"><img src="{% static 'images/media.svg' %}"
                                                                    alt="media icon" /></label>
                                                            <input type="file" id="image" name="media" accept="image/*">
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <button class="post-tweet" type="submit">Tweet</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                {% endfor %}
                {% endblock %}
            </div>
        </div>
    </main>
    {% endblock %}

</body>

</html>