{% extends "accounts/profile.html" %}
{% load static %}
{% block main-user-tweet %}

<main-profile>
    <div class="cover-photo-container">
        <div class="cover-photo">
            <img src="{{ specific.coverImage }}" alt="cover photo" />
        </div>
    </div>
    <div class="profile-container">
        <div class="edit-title-box">
            <div class="profile-image">
                <img src="{{ specific.profileImage }} " alt="profile photo" />
                <button class="edit-profile-button" id="followButton" onclick="followRequest('{{ profile_id }}')"></button>
            </div>
        </div>

        <div class="username-tag">
            <div class="display-name">{{ specific.display_name }}</div>
            <div class="username">@{{ specific.display_name}}</div>
        </div>
        <div class="profile-bio">
            {{ specific.bio }}
        </div>
        <div class="website" style="margin-top: 1rem;margin-bottom:1rem">
            <b style="font-weight: 700;">Website</b>{{ specific.website}}
        </div>
        <div class="joined-date">
            <div class="date-text">Joined Date</div>
            <div class="date" id="joined-date">{{specific.updated_at }}</div>
        </div>
    </div>
    <div class="follow-ing">
        <div class="posts tweet-flex">
            <div class="posts-count">{{posts|length}}</div>
            <div class="fin">Tweets</div>
        </div>
        <div class="retweets tweet-flex">
            <div class="following-count" style="margin-left:1px">{{retweets|length}}</div>
            <div class="fin">retweets</div>
        </div>
        <div class="followers tweet-flex">
            <div class="follow-count">{{followers|length}}</div>
            <div class="fin">Followers</div> 
        </div>
        <div class="following tweet-flex">
            <div class="following-count" style="margin-left:1px">{{following|length}}</div>
            <div class="fin">Following</div>
        </div>
    </div>  
</main-profile>
{% endblock %}


