{% extends 'accounts/home.html' %}

{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home/style1.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/home/profile.css' %}" />
{% endblock %}


{% block main-header %}
<div class="main-section-header">
    <div class="home-header">
        <div class="shiva-profile">
            <img src="{% static 'images/shiva.png' %}" alt="shiva's profile" />
        </div>
        <h2 class="main-section-title">{{ request.user.username }}</h2>
    </div>
    <div class="top-tweets-icon">
        <img src="{% static 'images/stars.svg' %}" alt="top tweets icon" />
    </div>
</div>
{% endblock %}

{% block main-user-tweet %}
<main-profile>
    <div class="cover-photo-container">
        <div class="cover-photo">
            <img src="{{ logged_user.coverImage }}" alt="cover photo" />
        </div>
    </div>
    <div class="profile-container">
        <div class="edit-title-box">
            <div class="profile-image">
                <img src="{{ logged_user.profileImage }} " alt="profile photo" />
                <button class="edit-profile-button" onclick="togglePopupProfile()">Edit Profile</button>
            </div>
        </div>

        <div class="username-tag">
            <div class="display-name">{{ logged_user.display_name }}</div>
            <div class="username">@{{ logged_user.display_name}}</div>
        </div>
        <div class="profile-bio">
            {{ logged_user.bio }}
        </div>
        <div class="website" style="margin-top: 1rem;margin-bottom:1rem">
            <b style="font-weight: 700;">Website</b>{{ logged_user.website}}
        </div>
        <div class="joined-date">
            <div class="date-text">Joined Date</div>
            <div class="date" id="joined-date">{{logged_user.updated_at }}</div>
        </div>
        <div class="follow-ing">
            <div class="posts">
                <div class="post-text">Tweets</div>
                <div class="posts-count">{{posts|length}}</div>
            </div>
            <div class="followers">
                <div class="follow">Followers</div>
                <div class="follow-count">{{followers|length}}</div>
            </div>
            <div class="following">
                <div class="fin">Following</div>
                <div class="following-count">{{following|length}}</div>
            </div>
        </div>
    </div>
</main-profile>
{% endblock %}

{% block more-icon %}
<div class="more-icon" id="post-container-{{ tweet.uuid }}">
    <img src="{% static 'images/more-circle.svg' %}" alt="more icon" onclick="toggleDropdown(this)"/>
    <div id="dropdown-menu" class="dropdown-content">
        <a  onclick="openEditModal('{{tweet.uuid}}')" style="color: black;">Edit</a>
        <a href="" onclick="confirmDelete('{{tweet.uuid}}')">Delete</a>
    </div>
</div>

<div id="editModal" class="modal">
    <div class="modal-content popup">
        <span class="close" onclick="closeEditModal()">&times;</span>
        <form id="editForm" class="form" action="{% url 'accounts:update-tweet' tweet.uuid %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <!-- Textarea for content -->
            <textarea id="editContent" name="content" rows="4" cols="50"></textarea>
            <!-- Display area for the image -->
            <div id="imageDisplay"></div>
            <!-- File input for media -->
            <input type="file" id="editMedia" name="media" onchange="previewImage(this)">
            <button type="submit">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}